<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.taba.repository.JobRepository">
    <select id="selectJob" parameterType="com.example.taba.model.Job" resultType="com.example.taba.model.Job">
        SELECT DISTINCT year, apply_date, job_title FROM job
    </select>
</mapper>